.spline {

    min-height: 100vh;
    min-width: 100vw;

    margin:0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 30px;


  }
  .spline::before{
    content: "You can move me... try dragging!";

    position: absolute;
    margin: auto;
    font-weight: 900;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.6rem;
    text-transform: capitalize;
    width: 50%;

  }
  .head{
    border: 1px solid rgb(37, 35, 35);
    background-color:rgb(90, 155, 155);
    color: rgb(33, 30, 30);
    padding: 1rem;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    border-radius: 2rem;
    height: 40%;
    width: 20%;
    top: 30%;
    left: 2%;
    z-index: 2;
    position: absolute;
    transition: all 400ms;


  }
  .h11{
    position: absolute;
    top: 50%;
    left: 50%;

  }
  .head:hover{
    transform: scale(1.1);
  }


/* media query=============================== */


@media screen and (max-width:400px) {
  .spline::before{
    font-size: 1.2rem;
  }
  .spline {

    min-height: 100vh;
    min-width: 100vw;
    margin:0;
    padding: 0;
    position: fixed;
    margin-top: 10px;

  }
  .head{
    border: 1px solid rgb(37, 35, 35);
    background-color:rgb(178, 224, 224);
    color: rgb(33, 30, 30);
    padding: 1rem;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.5rem;
    text-align: center;
    border-radius: 2rem;
    height: 18%;
    width: 20%;
    top: 18%;
    left: 2%;
    z-index: 2;
    position: absolute;
    transition: all 400ms;


  }

}

